[submodule "vimperator/vimperator/speakerdeck"]
	path = vimperator/vimperator/speakerdeck
	url = https://gist.github.com/4105959.git
[submodule "vimperator/vimperator/caisui"]
	path = vimperator/vimperator/caisui
	url = https://github.com/caisui/vimperator.git
[submodule "vimperator/vimperator/vimpr"]
	path = vimperator/vimperator/vimpr
	url = https://github.com/vimpr/vimperator-plugins.git
[submodule "zsh/zsh/zsh-completions"]
	path = zsh/zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh/zsh/zsh-syntax-highlighting"]
	path = zsh/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
