[submodule "vimperator/vimperator/speakerdeck"]
	path = vimperator/vimperator/speakerdeck
	url = https://gist.github.com/4105959.git
[submodule "vimperator/vimperator/caisui"]
	path = vimperator/vimperator/caisui
	url = https://github.com/caisui/vimperator.git
[submodule "vimperator/vimperator/vimpr"]
	path = vimperator/vimperator/vimpr
	url = https://github.com/vimpr/vimperator-plugins.git
