# vim関係
vim/vim/bundle/

# vimperator関係
vimperator/vimperator/info/default/history-command
vimperator/vimperator/info/default/history-search
vimperator/vimperator/info/default/local-marks
vimperator/vimperator/info/default/twittperator
vimperator/vimperator/info/default/migemized_find
vimperator/vimperator/info/default/plugins-libly-wedata-AutoPagerize-items
vimperator/vimperator/info/default/ignored-keys
vimperator/vimperator/info/default/quickmarks

# mlterm関係
mlterm/challenge
mlterm/msg.log

# tmux plugin
tmux/tmux/plugins/tmux-*
