# vim関係
vim/vim/bundle/

# vimperator関係
vimperator/vimperator/caisui
vimperator/vimperator/vimpr
vimperator/vimperator/info/default/history-command
vimperator/vimperator/info/default/history-search
vimperator/vimperator/info/default/local-marks
vimperator/vimperator/info/default/twittperator

# mlterm関係
mlterm/challenge
mlterm/msg.log
